* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #92af85;
    color: black;
    line-height: 1.6;
    text-align: center;
}

header {
    background:#dcdd97;
    color:black;
    text-align: center;
    padding: 19rem;
    font-size: 25px;
    font-style: italic;
}

nav button {
    background-color: #464a5a;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 200px;
    width: 75px;
}


section {
    padding: 15rem;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 1rem;
    color: rgb(21, 39, 13);
    font-size: 4rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills-list li {
  background: #464a5a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  list-style: none;
  margin-left: 28px;
}

.projects {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

input {
    border-radius: 200px;
    height: 40px;
}

input, textarea {
  padding: 0.7rem;
  width: 100%;
  border-radius: 200px;
  border: #1e1e1e;
}

form button {
    border-radius: 200px;
    width: 100px;
    height: 40px;
    border: #1e1e1e;
    margin-left: 150px;
}



body.dark {
  background-color: #3b3434;
  color: #dae0dd;
  font-size: 20px;
}

body.dark header {
  background: #1e1e1e;
  color: aliceblue;
}

body.dark h2 {
  color: #66aaff;
}

body.dark nav{
    background-color: #3c3d41;
}

html {
  scroll-behavior: smooth;
}

nav {
  background: #536d4c;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  font-size: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  
}

nav a {
  color: white;
  text-decoration: none;
}



#skills{
    padding: 15rem;
}
section h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

#education {
    font-size: 19px;
}

#projects p {
  height: 150px;
  width: 40%;
  border-radius: 20px;
  background-color: #777373;
  display: inline-block;
  align-content: center;
}
